@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.header {
  background-color: #0c0b0b;
}

.card {
  background-color: rgb(16, 16, 16);
}